body{
    margin: 0%;
    padding: 0%;
    background-image: url(foto.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
}
#img{
    margin-left: 430px;
    width: 500px;
    border: 1px solid white;
}
.pai{
    display: flex;
    flex-direction: column;
    
}
h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.texto{
    margin-left: 450px;
    background-color: black;
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
}
.errada{
    color: wheat;
}